name: gpkih

services:
  # Debian container
  debian:
    build: ./debian
    volumes:
      - ../:/home/gpkih
    working_dir: /home/gpkih/docker
  # Ubuntu container
  ubuntu:
    build: ./ubuntu
    volumes:
      - ../:/home/gpkih
    working_dir: /home/gpkih/docker
  # ArchLinux container
  archlinux:
    build: ./archlinux
    volumes:
      - ../:/home/gpkih
    working_dir: /home/gpkih/docker
  # Fedora container
  fedora:
    build: ./fedora
    volumes:
    - ../:/home/gpkih
    working_dir: /home/gpkih/docker
  # Alpine container
  alpine:
    build: ./alpine
    volumes:
      - ../:/home/gpkih
    working_dir: /home/gpkih/docker